<%= form_with(model: note, data: { validate: "subject" }) do |form| %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <div class="error-message text-danger" data-error-for="title"></div>
    <%= form.text_field :title, class: "title-field"%>
  </div>
  <div>
    <%= form.hidden_field :homepage_id, value: current_user.homepage.id%> 
  </div>
  <div><br>
    <%= form.submit "Submit Subject",class: "btn btn-outline-info btn-lg",style: "color: white;"%>
  </div>
<% end %>

