<div id="<%= dom_id note %>">
  <p>
    <strong>Subject:</strong>
    <%= note.title %>
  </p>
  <div>Current Notes</div>
  <%if @note.present?%>
  <table class="table table-bordered">
    <thead>
        <tr class="table-dark">
            <th scope = "col">Note Name</th>
            <th scope = "col">View content</th>
            <th scope = "col">Edit content</th>
            <th scope = "col">Delete</th>
            </tr>
        </thead>
  <%@note.flashcards.each do |flashcard|%>
  </tbody>
  <tr class="table-dark">
            <th scope = "col" class="text-info"><%=flashcard.title%></th>
            <th scope = "col"><%=link_to "View", [@note,flashcard], class: "text-info"%></th>
            <th scope = "col"><%=link_to "Edit", edit_note_flashcard_path(@note,flashcard),class: "text-info"%></th>
            <th scope = "col"><%=button_to "Delete", [@note,flashcard], method: :delete, class: "btn btn-outline-info",style: "color: white;"%></th>
  </tr>
  </tbody>
  <%end%>
  </table>
  <%end%>
  <%= link_to "New Note", new_note_flashcard_path(note),class: "btn btn-dark",style: "color: white;" %><br>
  <strong>----------------------------------------------------------------------------------</strong>
  <div>Current Files</div>

</div>
