<div id="<%= dom_id note %>">
  <p>
    <strong>Subject:</strong>
    <%= note.title %>
  </p>
  <h3>Current Notes</h3>
  <%if @note.present? && @note.flashcards.present?%>
  <table class="table table-bordered">
    <thead>
        <tr class="table-dark">
            <th scope = "col">Note Name</th>
            <th scope = "col">View content</th>
            <th scope = "col">Edit content</th>
            <th scope = "col">Delete</th>
            </tr>
        </thead>
  <%@note.flashcards.each do |flashcard|%>
  </tbody>
  <tr class="table-dark">
            <th scope = "col"><%=flashcard.title%></th>
            <th scope = "col"><%=link_to "View", [@note,flashcard], class: "text-info"%></th>
            <th scope = "col"><%=link_to "Edit", edit_note_flashcard_path(@note,flashcard),class: "text-info"%></th>
            <th scope = "col"><%=button_to "Delete", [@note,flashcard], method: :delete, class: "btn btn-outline-info",style: "color: white;"%></th>
  </tr>
  </tbody>
  <%end%>
  </table>
  <%end%>
  <%= link_to "New Note", new_note_flashcard_path(note),class: "btn btn-dark",style: "color: white;" %><br>
  <br>
  <br>
<h3>Uploaded Documents:</h3>
<% if @note.documents.attached? %>
  <ul class = "list-group list-group-flush">
    <% @note.documents.each do |doc| %>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item" id="list-item-black"><%= link_to doc.filename, url_for(doc), target: "_blank", class:"text-info"  %></li>
     <li class="list-group-item" id="list-item-black"> <%= link_to "Delete", delete_document_note_path(@note, document_id: doc.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-info", style: "color: white;"%></li>
      </ul>
    <% end %>
  </ul>
<% end %>
<br>
<%= link_to "Upload File", upload_form_note_path(@note),class: "btn btn-dark",style: "color: white;" %><br>
</div>
