<div id="<%= dom_id note %>">
  <p>
    <strong>Subject:</strong>
    <%= note.title %>
  </p>
  <div>Current Notes</div>
  <%if @note.present?%>
  <table class="table table-bordered">
    <thead>
        <tr>
            <th scope = "col">Note Name</th>
            <th scope = "col">View content</th>
            <th scope = "col">Edit content</th>
            <th scope = "col">Delete</th>
            </tr>
        </thead>
  <%@note.flashcards.each do |flashcard|%>
  </tbody>
  <tr>
            <th scope = "col"><%=flashcard.title%></th>
            <th scope = "col"><%=link_to "View", [@note,flashcard]%></th>
            <th scope = "col"><%=link_to "Edit", edit_note_flashcard_path(@note,flashcard)%></th>
            <th scope = "col"><%=button_to "Delete", [@note,flashcard], method: :delete%></th>
  </tr>
  </tbody>
  <%end%>
  </table>
  <%end%>
  <%= link_to "New Note", new_note_flashcard_path(note) %><br>
  <strong>----------------------------------------------------------------------------------</strong>
  <div>Current Files</div>

</div>
