
<%= form_with(model: [@note, @flashcard], data: { validate: "note" }) do |form| %>
  <% if @flashcard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flashcard.errors.count, "error") %> prohibited this flashcard from being saved:</h2>

      <ul>
        <% @flashcard.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %><br>
     <div class="error-message text-danger" data-error-for="title"></div>
    <%= form.text_field :title, class: "title-field" %><br>
  </div>

  <div class="field">
    <%= form.label :text %><br>
     <div class="error-message text-danger" data-error-for="text"></div>
    <%= form.text_area :text, class: "form-control", style: "height: 400px; width: 500px;", class: "text-field"%><br>
  </div>

  <div class="actions">
    <%= form.submit "Submit Note",class: "btn btn-outline-info btn-lg",style: "color: white;"%>
  </div>
<% end %>
