<div class = center>
<div class = form>
<h1>Sign In</h1>
<%= form_with url: registration_login_path do |form| %>
  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %><br>
    <%= form.label :password %><br>
    <%= form.password_field :password %><br>
  </div>
  <%= form.submit "Sign In" %>
<% end %>
</div>
</div>