<div class = center>
<div class = form>
<%= form_with model: registration, url: registration_path do |form| %>
  <h1>Sign Up</h1>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name, placeholder: "Name" %><br>

    <%= form.label :email %><br>
    <%= form.text_field :email, placeholder: "Email" %><br>

    <%= form.label :password %><br>
    <%= form.password_field :password, placeholder: "Password" %><br>

    <%= form.label :password_confirmation, "Confirm Password" %><br>
    <%= form.password_field :password_confirmation, placeholder: "Confirm Password" %><br>
  </div>

  <br>
  <%= form.submit "Create Account" %>
<% end %>
</div>
</div>
