<div class = center>
<div class = form>
<h1>Sign In</h1>
<%= form_with url: registration_login_path do |form| %>
  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email,class: "form-control", placeholder: "Something@yada.blah"%>
    <%= form.label :password %><br>
    <%= form.password_field :password,class: "form-control", placeholder: "Password" %>
  </div>
  <br>
  <%= form.submit "Sign In", class: "btn btn-outline-info btn-lg", style: "color: white;" %>
<% end %>
</div>
</div>