<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <% if current_user %>
        <li class="nav-item">
          <%= link_to "Homepage", homepage_show_path(current_user.id), class: "nav-link text-white" %>
        </li>
        <% if inside_note_context? %>
        <% note_id = params[:note_id] || params[:id] %>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="noteDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Subject Options
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="noteDropdown">
             <li><%= link_to "Show Subject", note_path(note_id), class: "dropdown-item" %></li>
            <li><%= link_to "Edit Subject", edit_note_path(note_id), class: "dropdown-item" %></li>
            <li>
        <%= button_to "Delete Subject", note_path(note_id), method: :delete, data: { confirm: "Are you sure?" }, class: "dropdown-item text-danger" %>
        </li>
    </ul>
    </li>
        <% if inside_flashcard_context? %>
         <% note_id = params[:note_id] || params[:id] %>
        <% flashcard_id = params[:flashcard_id] || params[:id] %>
        <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle text-white" href="#" id="flashcardDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         Note Options
     </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="flashcardDropdown">
        <li><%= link_to "Show Note", note_flashcard_path(note_id, flashcard_id), class: "dropdown-item" %></li>
        <li><%= link_to "Edit Note", edit_note_flashcard_path(note_id, flashcard_id), class: "dropdown-item" %></li>
        <li>
        <%= button_to "Delete Note", note_flashcard_path(note_id, flashcard_id), method: :delete, data: { confirm: "Are you sure?" }, class: "dropdown-item text-danger" %>
      </li>
    </ul>
    </li>
    <% end %>
<% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", root_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", registration_new_path, class: "nav-link text-white" %>
        </li>
      <% end %>
    </ul>

    <% if current_user %>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= button_to "Log out", logout_path, method: :delete, class: "btn btn-outline-light" %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
